/* Remove default browser styling */

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 
    Custom Styling
*/

body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
}

#app {
    display: grid;
    grid-template-columns: minmax(200px, 300px) minmax(400px, 1fr);
    grid-template-rows: 40px minmax(400px, 1fr) 40px;
    grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
    height: 100vh;
    max-width: 1200px;
    flex: 1 1 auto;
    border: 3px solid red;
}

header,
#sidebar,
#content,
footer {
    border: 3px solid black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
}

nav {
    display: flex;
    width: clamp(300px, 75%, 100%);
    justify-content: space-around;
    gap: 20px;
    border: 3px solid green;
}

header .navButton {
    padding: 2px 6px;
    border: none;
    background-color: grey;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    flex: 0 1 75px;
}

header .navButton:hover {
    background-color: purple;
}

#sidebar {
    grid-area: sidebar;
}

#content {
    grid-area: content;
}

footer {
    grid-area: footer;
}
